body{
    background: #131520;
    letter-spacing: 0.2em;
    font-size: 0.8em;
}
.container{
    max-width: 400px;
}

.icon{
    position:relative;
    top: -50px;
    border-radius: 50%;
    width:100px;
    margin-bottom: -50px;
}

.colour-toggle {
    align-items: center;
    justify-content: center;
    display: flex;
}

.light, .dark {
    margin-left: 10px;
    margin-right: 10px;
}

.text-muted-title {
    color: #f9f9f9;
}

.title {
    color: #f9f9f9;
}

.card {
    box-shadow: 0 4px 10px 4px rgba(240, 240, 240, 0.2), 0 4px 15px 5px rgba(240, 240, 240, 0.19);
}

